<!DOCTYPE html>
<html lang="ko">
<head>
  {% load static %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{wiki.name}} 교수님 - 교수위키</title>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  {{ form.media }}
</head>
<body>
  <div class="container">

    <header>
      <h1>{{wiki.name}} 교수</h1>
      <p class="subtitle">중앙대학교 {{wiki.college}}</p>
    </header>

    <section class="profile">
      <img src="professor_kim.jpg" class="professor-photo" />
      <div class="info-box">
        <p><strong>대학:</strong>{{wiki.college}}</p>
        <p><strong>학과(학부):</strong> {{wiki.department}}</p>
        <p><strong>이메일:</strong>{{wiki.email}}</p>
        <p><strong>연구실:</strong>{{wiki.office}}</p>
        <p><strong>담당 과목:</strong>{{wiki.subject}}</p>
      </div>
    </section>
      <form action="{% url 'edit' wiki.name %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">저장하기</button>
      </form>
    <footer>
      <p>&copy; 2025 교수위키 | 중앙대학교 심화프로그래밍 1분반 조별 프로젝트</p>
    </footer>
  </div>
</body>
</html>
